
/* ******************************************************** HEADER ************************************************************ */
#myNavbar {
    padding: 15px 0; /* Espaciado interior similar al de .navbar-brand */
  }
  
#myNavbar img {
    max-height: 50px; /* Altura máxima similar al tamaño típico de un logotipo en la barra de navegación */
  }

#hamburguesa {
    background-color: #295d29; 
    border: none;
    margin-top: 20px;
}

#hamburguesa .icon-bar {
    background-color: #ffffff; /* Cambia el color de las líneas del icono */
}

/* Cambiar el color de fondo cuando el botón está activo (se hace clic en él) */
#hamburguesa.collapsed {
    background-color: #2f6b2f;
}

#hamburguesa:hover {
    background-color: #3c813c; /* Color de fondo al pasar el ratón por encima */
}

#hamburguesa:focus {
    background-color: #295d29; /* Color de fondo cuando el botón tiene el foco */
}

/* Cambiar el color de fondo de la barra de navegación */
.navbar-inverse {
    background-color: #2d642d ; 
    border:none;
    border-radius: 0%;
}
  
  /* Cambiar el estilo del texto en los elementos de la barra de navegación */
  .navbar-inverse .navbar-nav > li > a {
    color: #fff; 
    font-size: 1.15em; 
  
  }
  
  /* Cambiar el estilo del texto en los enlaces al pasar el mouse */
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #ccc; 
  }


/* Cambiar el estilo del texto en los elementos de la barra de navegación */
.navbar-inverse .navbar-nav > li > a#enlace_usuario {
  color: #fff; 
}

/* Cambiar el estilo del texto del saludo */
.navbar-inverse .navbar-nav > li > a#enlace_usuario .textopequeño {
  font-size: 0.75em; /* Ajusta el tamaño según tus necesidades */
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logo {
    height: 80%;
  }

/* Estilo normal del elemento <li> */
.navbar-inverse .navbar-nav > li.uno > a {
    color: #fff !important;  }
  
  /* Eliminar efecto hover del elemento <li> */
  .navbar-inverse .navbar-nav > li.uno > a:hover {
    color: inherit;
  }
  


#form1, #form2 {
    display: none; /* Ocultar formularios inicialmente */
}


/* Estilos para cuando el dropdown está abierto */
li.dropdown.open .dropdown-toggle {
    color: #e9ecef !important;
    background-color: #3e883e !important;
}

/* Estilos para todos los elementos con clases que comienzan con "dropdown" */
[class^="dropdown"] {
    color: #e9ecef;
    background-color: #2d642d;
}

[class^="dropdown"]:hover {
    color: #2d642d;
    background-color: #e9ecef;
}

/* Estilos para cuando cualquier elemento con clases que comienzan con "dropdown" está pulsado o enfocado */
[class^="dropdown"]:focus, [class^="dropdown"]:active {
    background-color: #28a745; 
    color: #fff; 
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    background-color: #f8f9fa;
    border-radius: 0;
    border: 1px solid #dee2e6;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-menu li a {
    color: #343a40;
    padding: 10px 20px;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #e9ecef;
    color: #2d642d;
}


.cerrarSesion{
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    float: right;
    text-decoration: none;
}

.cerrarSesion:hover {
    color: #d3dbd3;
    text-decoration: none;
}


/* Estilo para enlaces activos */
.cerrarSesion:active {
    color: #396439;
    text-decoration: none;
}


/* 
#botonlapiz
{
    width: 1.8em;
} */



/* #botonlapiz:hover
{
    filter: drop-shadow(0px 0px 5px rgb(0, 68, 255));
} */

/* ******************************************************** BODY ************************************************************ */

body{
    font-family: 'Montserrat', sans-serif;
}

.filtro_incidencia
{
    background: #4b924b;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5em;
}


.text-center {
    text-align: center;
}


.myInputFooter{
    background-color: #ffffff;
    border-radius: 0px;
    border-color: #dddddd40;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

.myInputFooter:focus{
    outline: 0px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.backNewsletter{

    padding: 40px;
    background: #f6f6f6;

}

.list-group-item {
    border-left: 0px;
    border-right: 0px;
}

 #orange{
    background-color: #ec945e;
    padding: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#green{
    background-color: #4b924b;
    padding: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#blue{
    background-color: #033e6f;
    padding: 40px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.priceBackground {
    background: #f6f6f6;
    padding-top: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
}

.noPadding{
    padding: 0px;
}

.pricePadd span{
    font-size: 30px;
}

.pricePadd p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.pricePadd{
    padding: 0;
}

section#section4 {
    float: left;
    display: block;
    position: relative;
    width: 100%;
}

/* BOTONES */

/* Asegurar que el padding no afecte el tamaño total */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Estilos generales para los botones */
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 0; /* Eliminar el margen por defecto */
}

/* Clase personalizada para ajustar el ancho del botón */
.custom-btn-width {
    flex: 1; /* Permitir que los botones se ajusten al tamaño del contenedor */
    min-width: 0; /* Permitir que los botones se encojan si es necesario */
}

/* Estilos específicos para los botones de 'toggle-pencil' y 'toggle-sort' */
.toggle-pencil,
.toggle-sort {
    margin-right: 2px;
}

/* Ajustar el margen para el último botón */
.toggle-sort {
    margin-right: 0;
}

.botoncicos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; /* Espaciar los botones uniformemente */
    box-sizing: border-box;
    margin: 1em 0; /* Ajustar el margen para controlarlo verticalmente */
    width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho disponible */
}


/* Estilo para el botón de la basura */
.btn-trash {
    padding: 5px 10px; /* Reducir el padding para hacer el botón más pequeño */
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-trash .glyphicon-trash {
    font-size: 1.75em; /* Ajustar el tamaño del icono */
}


#buttons-container{
margin-top: 3em;
}

/* NO QUITAR */
.noPadding{
    padding: 0px;
}

/* NO QUITAR */
/* Imagen de taquillas */
.filterBack{
    background: url(img/moren-hsu-VLaKsTkmVhk-unsplash4.jpg);
    background-position: top;
    background-size: cover;
    min-height: 550px;
    background-attachment: fixed;
}

/* Filtro de la Imagen de taquillas */
.abs{
    position: absolute;
    top: 0px;
    min-height: 550px;
    background-color: #000;
    position: absolute;
    top: 0px;
    background-color: #0000008a;
    width: 100%;
    color: #fff;
}

.absTitle{
    margin-top: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.absText{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.myButton{
    background: #4b924b;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


/* FORMULARIOS */

/* Seleccionar formularios específicos dentro de los divs con ids que comienzan con 'form1', 'form2', o 'form3' */
div[id^="form1"] form,
div[id^="form2"] form,
div[id^="form3"] form {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 10; /* Asegurar que el formulario esté por encima de otros elementos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra */
    width: 75%;
    margin-top: 0;
    left: 50%; /* Posicionar en el centro horizontal */
    transform: translateX(-50%); /* Ajustar para centrar horizontalmente */
    margin-top: 10px; 
}

/* Estilos para los select dentro de esos formularios */
div[id^="form1"] form select,
div[id^="form2"] form select,
div[id^="form3"] form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Estilos para los botones de submit dentro de esos formularios */
div[id^="form1"] form .botonactualizar,
div[id^="form2"] form .botonactualizar,
div[id^="form3"] form .botonactualizar {
    width: 100%;
    padding: 10px;
    background-color: #56a556;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Hover*/
div[id^="form1"] form .botonactualizar:hover,
div[id^="form2"] form .botonactualizar:hover,
div[id^="form3"] form .botonactualizar:hover {
    background-color: #4b924b;
}

/* Ajustes de layout */
div[id^="form1"] form br,
div[id^="form2"] form br,
div[id^="form3"] form br {
    display: none; /* Ocultar los <br> para mejorar el layout */
}

div[id^="form1"] form input[type="hidden"],
div[id^="form2"] form input[type="hidden"],
div[id^="form3"] form input[type="hidden"] {
    display: none; /* Ocultar los input hidden */
}

/* Ocultar formularios inicialmente con visibilidad */
div[id^="form1"],
div[id^="form2"],
div[id^="form3"] {
    visibility: hidden; 
    height: 0; /* Ajustar altura a 0 para no afectar el diseño */
}

/* Mostrar formularios cuando se necesita */
div[id^="form1"].show,
div[id^="form2"].show,
div[id^="form3"].show {
    visibility: visible; /* Mostrar el formulario */
    height: auto; /* Ajustar la altura automáticamente */
}

/* Botones de Estado y Prioridad */
.botoncicos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 1em 0;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin: 0;
}

.custom-btn-width {
    flex: 1; /* Hacer que el botón ocupe todo el ancho disponible */
}

/* Botón de borrar */
.btn-trash {
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-trash .glyphicon-trash {
    font-size: 16px; 
}

.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el espacio entre los elementos de manera uniforme */
}

#borrado {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    /* margin-top: 10px; */
}

.botonactualizar {
    width: 100%;
}

.botoncicos {
    display: flex;
    justify-content: space-between;
}

.panel-default{
    height:42em ;
    
}



/* ************************************************************* FOOTER ************************************************************* */

.backFooter {
    background-color:#2d642d; /* Color de fondo del footer */
    padding: 20px 0 3em; /* Espaciado vertical del footer */
}

.marginTop {
    margin-top: 10px;
}

.footertext,  .footertext > a{
    margin: 5px 0; /* Margen entre los textos del footer */
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 0px;
    font-weight: bold;
    line-height: 1.1;
    font-size: 16px;
    color: #fff;
}

#logofooter>img{
margin-right: 1em;
float: right;
}

#textofooter > h3{
    margin-left: 3em;
}

.footertext, .footertext > a {
    margin-left: 0; 
}

.crearprofe, .borrarprofe{
    margin: 5em;
}

.marginBottom{
    margin-bottom: 30px;
}



/* Estilos para el cuadro de mensaje */
/* .message-box {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #f44336; 
    background-color: #fdd;
    color: #f44336;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
} */


/* ******************************************************** RESPONSIVE ************************************************************ */
/* Estilos para dispositivos de escritorio */
@media (min-width: 992px) {
    #descrip {
        overflow-y: auto; 
        overflow-x: hidden;
        max-height: 6.75em; /* Altura máxima para dispositivos de escritorio */
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 991px) {
    #descrip {
        overflow-y: hidden; /* Deshabilita el desbordamiento en dispositivos móviles */
        overflow-x: hidden;
        height: auto; /* Permite que la altura se ajuste automáticamente */
    }

    .panel-body{
        height: auto; /* Permite que la altura se ajuste automáticamente */

    }

    .panel-default{
        height: auto; /* Permite que la altura se ajuste automáticamente */

    }

    #textofooter > h3{
        text-align: center; /* Centrar el contenido */
        width: 100%; /* Asegurarse de que los elementos ocupen todo el ancho disponible */
        margin-left: 0;
      
    }

    #logofooter {
        margin-top: 20px; /* Espaciado adicional para separar del texto */
    }

    #logofooter>img{
        margin-right: 0;
        float: none;
        }

    .backFooter {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrar los elementos en el eje vertical */
    }

    .crearprofe, .borrarprofe{
        margin: 0;
    }
   
}

