#incidencias {
    display: flex; /* Hace que los divs hijos se comporten como flex items */
    flex-wrap: wrap; /* Permite que los flex items se envuelvan a la siguiente línea cuando no hay suficiente espacio */
}

#incidencias > div {
    width: calc(25% - 20px); /* Ancho del 25% menos el margen */
    margin: 10px; /* Margen entre los divs */
}










div.incEn_proceso
{
    margin: 0.4em;
    padding: 0.4em;
    border: 1px solid  rgb(255, 38, 0)  ;
}

div.incCreada
{
    margin: 0.4em;
    padding: 0.4em;
    border: 1px solid  rgb(255, 251, 0)  ;
}

div.incSolucionado
{
    margin: 0.4em;
    padding: 0.4em;
    border: 1px solid  rgb(60, 255, 0) ;
}