body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/moren-hsu-VLaKsTkmVhk-unsplash4.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
}


/* Estilo de los divs dentro de home-container */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: calc(100vh - 7em); /* Ajusta la altura restando el tamaño del footer */
    margin-top: 80px; /* Espacio sobre el menú superior */
    margin-bottom: 7em; /* Espacio bajo el footer */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
}


.home-container > div {
    width: 85%;
    max-height: 65vh; /* Altura máxima del 65% de la altura de la ventana */
    margin: 1.5em;
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
    padding: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/* Estilos para los divs ap1, ap2, ap3 y ap4 */
.ap1 {
    background-color: #7fbf7f; 
    min-height: 450px;
    height: fit-content;
}

.ap2 {
    background-color: #4b924b;
    min-height: 450px; 
    height: fit-content;}

.ap3 {
    background-color: #a2d9a2;
    min-height: 450px; 
    height: fit-content;}

.ap4 {
    background-color:  #529a52;
    min-height: 450px; 
    height: fit-content;}

/*********************************************** Estilo del menú superior *************************************************************/
.nav {
    background-color: #888; 
    color: #fff; 
    padding: 20px; 
    width: 100%; 
    /* position: fixed;  */
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 999;
}


  
  .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
  .nav ul li {
    margin-right: 20px;
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  




/*************************************************** Estilo del footer **************************************************************/
.bottom-menu {
    background-color: #888; /* Color de fondo gris */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho */
    height: 4em; /* Altura fija */
    position: fixed; /* Fija la posición */
    bottom: 0; /* Se coloca en la parte inferior */
    left: 0; /* Se coloca en el lado izquierdo */
}

.bottom-menu ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Muestra los elementos de la lista en línea */
    justify-content: space-around; /* Centra horizontalmente los elementos */
}

.bottom-menu ul li {
    margin-right: 10px; /* Añade un espacio entre los elementos */
}

.bottom-menu ul li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color del texto */
}


/*************************************************** FORMULARIO *******************************************************************/

/* Estilos generales del formulario */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f2f2f2; */
    /* border-radius: 10px; */
}

/* Estilos para los campos del formulario */
form table {
    width: 100%;
}

form table td {
    padding: 10px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

/* Estilos para el botón */
.boton {
    width: 100%;
    padding: 10px;
    border: none;
    /* border-radius: 5px; */
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: #d4d3d3 solid 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

button[type="send"]:hover {
    background-color: #45a049;
}
