body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/moren-hsu-VLaKsTkmVhk-unsplash4.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Fija la imagen de fondo */
}


/* Estilo de los divs dentro de home-container */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    min-height: calc(100vh - 7em); /* Ajusta la altura restando el tamaño del footer */
    margin-top: 80px; /* Espacio sobre el menú superior */
    margin-bottom: 7em; /* Espacio bajo el footer */
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura */
}


.home-container > div {
    width: 85%;
    max-height: 65vh; /* Altura máxima del 65% de la altura de la ventana */
    margin: 1.5em;
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
    padding: 1em;
}

/* Estilos para los divs ap1, ap2, ap3 y ap4 */
.ap1 {
    background-color: #7fbf7f; /* Verde claro */
    height: 450px; /* Altura fija */
}

.ap2 {
    background-color: #3b7f3b; /* Verde oscuro */
    height: 350px; /* Altura fija */
}

.ap3 {
    background-color: #a2d9a2; /* Verde pastel */
    height: 350px; /* Altura fija */
}

.ap4 {
    background-color: #2a5f2a; /* Verde profundo */
    height: 350px; /* Altura fija */
}

/* Estilo del menú superior */
.nav {
    background-color: #888; 
    color: #fff; 
    padding: 20px; 
    width: 100%; 
    /* position: fixed;  */
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 999;
}




/* .nav {
    padding: 5px;
    background-color: #888; 

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0; 
    width: 100%;
  } */
  
  .nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
  .nav ul li {
    margin-right: 20px;
  }
  
  .nav ul li:last-child {
    margin-right: 0;
  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  




/* Estilo del footer */
.bottom-menu {
    background-color: #888; /* Color de fondo gris */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ocupa todo el ancho */
    height: 4em; /* Altura fija */
    position: fixed; /* Fija la posición */
    bottom: 0; /* Se coloca en la parte inferior */
    left: 0; /* Se coloca en el lado izquierdo */
    text-decoration: none;
}


.bottom-menu ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
}

.bottom-menu ul li {
    /* display: inline; Muestra los elementos de la lista en línea */
    margin-right: 10px; /* Añade un espacio entre los elementos */
}

.bottom-menu ul li a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color del texto */
}

