body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh;
    background-image: url(img/moren-hsu-VLaKsTkmVhk-unsplash4.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    background-position: center;
}

#login-container {
    position: relative;
    display: flex; /* Utiliza flexbox para colocar los contenedores en línea */
    flex-direction: column; /* Asegúrate de que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    height: 100%; /* Asegúrate de que ocupe toda la altura */
}

/* #mens {
    position: absolute;
    background-color: red;
    width: 20em;
    height: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
} */

.login-box {
    display: none;
    width: 30em;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 2.5em; /* Aumentado el padding para más espacio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 40px; /* Espacio entre los contenedores */
    box-shadow: #141414 0px 0px 15px;
    z-index: 0; /* Asegúrate de que el formulario esté debajo del cuadrado rojo */
}

.login-box:last-child {
    margin-right: 0; /* Elimina el margen derecho del último contenedor */
}

.login-box h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #4CAF50;
}

.input-group {
    margin-bottom: 20px; /* Aumentado el margen inferior */
}

.input-group label {
    display: block;
    margin-bottom: 8px; /* Ajustado el margen inferior */
    color: #555;
}

.input-group input {
    width: calc(100% - 16px); /* Ajustado el ancho para compensar el padding */
    padding: 10px; /* Aumentado el padding */
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px; /* Aumentado el padding */
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Aumenta el tamaño del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: #45a049;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 1em;
    color: #2f7633;
}

.register-link:hover {
    display: block;
    text-align: center;
    margin-top: 1em;
    color: #4CAF50;
}

#logo {
    height: 10em;
    width: 10em;
}

#pswdButton {
    width: 100%;
    padding: 12px; /* Aumentado el padding */
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Aumenta el tamaño del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#pswdButton:hover {
    background-color: #45a049;
}

.olvido{
    margin-top: 3em;
    width: 100%;
    height: fit-content;
    text-align: center;
   
}
    
.olvidocontraseña{
font-size: small;
font-family: Verdana, Geneva, Tahoma, sans-serif;

color: #555;
}


/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

#mens {
    position: fixed;
    background-color: #2f7633;
    box-shadow: #ffffff 0px 0px 10px 5px;
    visibility: hidden;
    width: 47em;
    height: fit-content; /* Altura ajustada */
    top: 3%;
    left: 50%;
    transform: translateX(-50%); /* Solo desplaza horizontalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75em;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}



#aaa {
    position: fixed;
    background-color: #2f7633;
    box-shadow: #ffffff 0px 0px 10px 5px;
    visibility: hidden;
    width: 47em;
    height: fit-content; /* Altura ajustada */
    top: 3%;
    left: 50%;
    transform: translateX(-50%); /* Solo desplaza horizontalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75em;
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
}

#aaa {
    /* Estilos para el contenedor */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente los elementos */
}

#texto {
    /* Estilos para el contenedor de texto */
    margin-bottom: 1em; /* Espacio entre el texto y los botones */
    width: 100%;

}

#botones {
    /* Estilos para el contenedor de botones */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
  

}

#mensAceptar,
#mensCancelar{
margin-right: 1.5em;
width: 35%;
font-size: 0.75em;
padding: 0.5em;
}

.condiciones{
    font-size: 0.5em;
    color: #2d2c2c;
    margin: 1.5em;
}

.volver {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #008000;
    font-family: 'Montserrat', sans-serif;
    margin:0.75em;
}

/* Media Query para Móviles */
@media (max-width: 767px) {
    .login-box {
        width: 100% !important;
        height: 100% !important;
        position: fixed; 
        top: 0;
        left: 0;
        margin: 0; 
        padding: 0; 
        
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el contenido verticalmente */
        align-items: center; /* Centra el contenido horizontalmente */
    }
    .login-container{
        width: 100%;
        height: 100%;
    }

    #loginForm,
    #pswdForm{
        margin: 2em;
        top: 50%;
    }


    #contenedor{
        width: 80%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido horizontalmente */
        justify-content: center; /* Centra el contenido verticalmente */
    }

    .input-group {
        width: 100%; /* Asegúrate de que los inputs ocupen todo el ancho del contenedor */
    }


    #mens {
        width: 100%; /* Hacer que el mensaje ocupe todo el ancho */
        text-align: center; /* Centrar el texto en dispositivos móviles */
        top: 75%;
    }

    #aaa {
        width: 100%; /* Hacer que el contenedor AAA ocupe todo el ancho */
        top: 75%;
        padding: 0.5em;
    }

    #texto,
    #botones {
        width: 100%; /* Hacer que los contenedores internos ocupen todo el ancho */
        text-align: center; /* Centrar el contenido en dispositivos móviles */
    }

    #mensAceptar,
    #mensCancelar{
    margin-right: 0.5em;
    width: 50%;
    font-size: 0.75em;
    padding: 0.6em;
    }

    .condiciones{
      
        margin: 4em;
    }

}
