#myNavbar {
    padding: 15px 0; /* Espaciado interior similar al de .navbar-brand */
  }
  
#myNavbar img {
    max-height: 50px; /* Altura máxima similar al tamaño típico de un logotipo en la barra de navegación */
  }
  
#hamburguesa{
    margin-top: 20px;
}

#hamburguesa {
  background-color: #468746; /* Cambia a tu color preferido */
  border: none; /* Elimina el borde si lo deseas */
}

#hamburguesa .icon-bar {
  background-color: #ffffff; /* Cambia el color de las líneas del icono */
}

/* Cambiar el color de fondo cuando el botón está activo (se hace clic en él) */
#hamburguesa.collapsed {
  background-color: #468746; /* El mismo color que el estado normal */
}

#hamburguesa:hover {
  background-color: #55a455; /* Color de fondo al pasar el ratón por encima */
}

#hamburguesa:focus {
  background-color: #468746; /* Color de fondo cuando el botón tiene el foco */
}


/* Cambiar el color de fondo de la barra de navegación */
.navbar-inverse {
    background-color: #4b924b ; 
    border:none;
    border-radius: 0%;
  }

  /* Cambiar el estilo del texto en los elementos de la barra de navegación */
  .navbar-inverse .navbar-nav > li > a {
    color: #fff; 
    font-size: 1.15em; 
  
  }
  
  /*Cambiar el estilo del texto en los enlaces al pasar el mouse */
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #ccc; 
  }


/* Cambiar el estilo del texto en los elementos de la barra de navegación */
.navbar-inverse .navbar-nav > li > a#enlace_usuario {
  color: #fff; 
}

/* Cambiar el estilo del texto del saludo */
.navbar-inverse .navbar-nav > li > a#enlace_usuario .textopequeño {
  font-size: 0.75em; /* Ajusta el tamaño según tus necesidades */
}

/* Estilo normal del elemento <li> */
.navbar-inverse .navbar-nav > li.uno > a {
    color: #fff !important;  }
  
  /* Eliminar efecto hover del elemento <li> */
  .navbar-inverse .navbar-nav > li.uno > a:hover {
    color: inherit;
  }
  
/* Cambiar el color de fondo del botón de hamburguesa */
.navbar-inverse .navbar-toggle {
  background-color:  #376937; /* Cambia "your_color" por el color deseado */
  border-color: transparent; /* Opcional: para eliminar el borde del botón */
}

/* Cambiar el color de fondo del botón de hamburguesa */
.navbar-inverse .navbar-toggle:hover {
    background-color:  #2a4f2a; /* Cambia "your_color" por el color deseado */
    border-color: transparent; /* Opcional: para eliminar el borde del botón */
  }

body{
    font-family: 'Montserrat', sans-serif;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .logo {
    height: 80%;

  }
  
#saludo{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
 }

.cerrarSesion{
    font-size: 12pt;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    float: right;
    text-decoration: none;
}

.cerrarSesion:hover {
    color: #d3dbd3;
    text-decoration: none;
}

/* Estilo para enlaces activos */
.cerrarSesion:active {
    color: #396439;
    text-decoration: none;
}

/* Estilos generales para la tabla */
#contenedor_incidencias table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

/* Estilos para las celdas de la tabla */
#contenedor_incidencias th, #contenedor_incidencias td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Estilos para la cabecera de la tabla */
#contenedor_incidencias th {
  background-color: #f4f4f4;
}

/* Estilos para las filas alternas */
#contenedor_incidencias tr:nth-child(even) {
  background-color: #f9f9f9;
}

#contenedor_incidencias{
  margin: 2em;
}

#section2 > h2{
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.text-center {
    text-align: center;
}

.paddTop{
    padding-top: 10px;
}

.myButton{
    background: #4b924b;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* NO QUITAR */
.noPadding{
    padding: 0px;
}

/* NO QUITAR */
/* Imagen de taquillas */
.filterBack{
    background: url(../img/moren-hsu-VLaKsTkmVhk-unsplash4.jpg);
    background-position: top;
    background-size: cover;
    min-height: 550px;
    background-attachment: fixed;
}

/* Filtro de la Imagen de taquillas */
.abs{
    position: absolute;
    top: 0px;
    min-height: 550px;
    background-color: #000;
    position: absolute;
    top: 0px;
    background-color: #0000008a;
    width: 100%;
    color: #fff;
}

.absTitle{
    margin-top: 300px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.absText{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

/* NO QUITAR */
.priceBackground {
    background: #f6f6f6;
    padding-top: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
}

.noTop{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.myInputFooter{
    background-color: #ffffff;
    border-radius: 0px;
    border-color: #dddddd40;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

.myInputFooter:focus{
    outline: 0px;
    border: 1px solid #ddd;
    box-shadow: none;
}

.backNewsletter{

    padding: 40px;
    background: #f6f6f6;

}

.formulariocrearincidencia{
margin: 5em;
}


/* ************************************************************* FOOTER ************************************************************* */


/* Estilos generales */
.noPadding {
  padding: 0;
}



.backFooter {
  background-color:#4b924b; /* Color de fondo del footer */
  padding: 20px 0 3em; /* Espaciado vertical del footer */
}

.marginTop {
  margin-top: 20px;
}

.footertext,  .footertext > a{
  margin: 5px 0; /* Margen entre los textos del footer */
  text-align: start;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-top: 0px;
  font-weight: bold;
  line-height: 1.1;
  font-size: 16px;
  color: #fff;
}

#logofooter>img{
margin-right: 1em;
float: right;
}

#textofooter > h3{
  margin-left: 3em;

}

.footertext, .footertext > a {
  margin-left: 0; /* Eliminar el margen izquierdo */
}

/* Media query para dispositivos móviles */
@media (max-width: 992px) {
  #textofooter > h3{
      text-align: center; /* Centrar el contenido */
      width: 100%; /* Asegurarse de que los elementos ocupen todo el ancho disponible */
      margin-left: 0;
    
  }

  #logofooter {
      margin-top: 20px; /* Espaciado adicional para separar del texto */
  }

  #logofooter>img{
      margin-right: 0;
      float: none;
      }

  .backFooter {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centrar los elementos en el eje vertical */
  }

 
}

.marginBottom{
  margin-bottom: 30px;
}

.marginTop{
  margin-top: 10px;
}


/* *********************************************************** OTRO HEADER *********************************************************** */

/* Estilos para el logo */
.navbar-brand img {
    max-height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
}

/* Estilos para el botón de hamburguesa */
.navbar-toggler {
    border: none;
}

/* Estilos para el contenido del menú */
.navbar-nav .nav-item {
    margin-left: 10px; /* Espacio entre elementos del menú */
}

























/* *********************************************************** RESPONSIVE *********************************************************** */

.recuperarcontraseñacontenedor{
/* box-shadow: #000000 0px 0px 10px; */

 /* filter: drop-shadow(0px 0px 15px rgb(255, 255, 255)); */

}

.logo {
  border: 1px solid rgb(95, 97, 96); /* Ajusta el tamaño y el color del borde según tus necesidades */
  border-radius: 50%; /* Hace que el borde sea circular */
}

.botoncambiarcontraseña{
background-color:#34a834;
color: white;
}

.botoncambiarcontraseña:hover{
  background-color:#5bb15b;
  color: white;
  }



  @media (max-width: 1100px) {
    .navbar-collapse.in {
      /* Estilos para los elementos de la lista cuando el menú de hamburguesa está desplegado */
      .nav li {
        width: 50%; /* Establece el ancho al 100% */
      }
      
      /* Estilos para los elementos ul cuando el menú de hamburguesa está desplegado */
      .navbar-nav {
        width: 50%; /* Establece el ancho al 100% */
      }
    }
  }
  


/* Estilos para hacer la tabla responsive */
@media screen and (max-width: 992px) {
  #contenedor_incidencias {
      margin: 2em;
  }

  #contenedor_incidencias table {
      width: 100%;
      border-collapse: collapse;
  }

  #contenedor_incidencias thead {
      display: none; /* Oculta el encabezado de la tabla */
  }

  #contenedor_incidencias tbody {
      display: block;
  }

  #contenedor_incidencias tr {
      display: block;
      margin-bottom: 15px;
  }

  #contenedor_incidencias td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
    
  }

  #contenedor_incidencias td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }

  #contenedor_incidencias table {
      padding-bottom: 2em;
  }

  #ContenedorInsertarIncidencia{
      padding-top: 2em;
      padding-bottom: 2em;
  }

}

/* Media query para dispositivos móviles */
@media (max-width: 992px) {
  .formulariocrearincidencia{
    margin: 0;
    }
    
 
}